<%= csrf_meta_tags %>
<%= render partial: 'spree/admin/shared/subscription_tabs', locals: { current: 'Subscription Details' } %>

<div data-hook="admin_subscription_edit_header">
  <h2><%= Spree.t("editing_subscription") %></h2>
  <%= render partial: 'spree/shared/error_messages', locals: { target: @account_subscription } %>
</div>

<div>
  <p>Total seats: <%= @account_subscription.num_seats %></p>
  <p>Seats used: <%= @account_subscription.seats_taken %></p>

</div>

<div data-hook="admin_subscription_edit_form">
  <div id="subscription-form-wrapper">
    <%= form_for [:admin, @account_subscription] do |f| %>
      <%= render partial: 'form', locals: { f: f, token: @account_subscription.token } %>
      <p class="form-buttons">
        <%= button Spree.t("update") %> 
      </p>
    <% end %>
  </div>
</div>
