<div data-hook="account_my_subscriptions">
  <h3><%= Spree.t(:my_subscriptions) %></h3>
  <% if @account_subscriptions.present? %>
    <table class="subscription-summary">
      <thead>
        <tr>
          <th>Subscription</th>
          <th>Start Date</th>
          <th>End Date</th>
          <th>Status</th>
        </tr>
      </thead>

      <tbody>
        <% @account_subscriptions.each do |subscription| %>
          <tr class="<%= cycle('even', 'odd') %>">
            <td><%= subscription.product.name %></td>
            <td><%= subscription.start_datetime %></td>
            <td><%= subscription.end_datetime %></td>
            <td><%= Spree.t(subscription.state, scope: 'subscription_state').titleize %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% else %>
    <p><%= Spree.t(:you_have_no_subscriptions_yet) %></p>
  <% end %>
  <br />
</div>
